<h2 style="margin-top: 30px;">Search</h2>
<div class="posts-search">
  <input type="text" id="posts-search-txt" autofocus>
  <div class="results" id="posts-search-results"></div>
</div>

<h2 style="margin-top: 30px;">Categories</h2>
<% Category.all.each do |category| %>
  <li>
    <%= link_to category.name, posts_path(category: category.name) %>
  </li>
<% end %>